* {
  margin: 10px;
}
 body{

margin: 20px;
 }

#img1{
  margin-left: 4.2cm;
}

header{

  display: grid;
  background-color: rgb(143, 130, 130);
  grid-template-columns: auto auto auto auto auto ;
}

header nav  {

display: flex;
position: relative;
top:  .7cm;


}

#photo{
  display: grid;
  grid-template-columns: auto auto auto ;
  justify-content: space-between;
  

}
#paragraph{
  display: grid;
  grid-template-columns: auto auto ;
}

  article{
    align-items: center;
    grid-template-rows: 20% 60% 20%;
    display: grid;}

    article p {
      height: 250px;
      font-size: 25px;
      overflow-y: auto;

      }

      article button {
        height: 25px;
        width: 50;
        border-radius: 10px;
        float: left;
        text-align: center;
    }
    button:hover{
      background-color: rgb(151, 17, 17);
  }

  footer { 
    display: block;
    height: 50px;
    width: auto;
    background-color: rgb(11, 12, 11);
}
 main{
   
   margin-left: 150px;
   margin-right: 150px;
 }
 #hero{
   width: 98.4%;
 
 }

